@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                            <img src="~/images/logo/loginRMS1.png" class="img-fluid" alt="hospitality">
                        </div>
                        <div class="col-lg-6">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-icon"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input asp-for="Input.Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email Address">
                                    </div>
                                    <div style="display: block; margin-top: 0.25rem;">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="password-icon"><i class="fas fa-lock"></i></span>
                                            </div>
                                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                                        </div>
                                        <div style="display: block; margin-top: 0.25rem;">
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="checkbox mb-3">
                                        <label>
                                            <input asp-for="Input.RememberMe" /> @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                                    </div>
                                    <div class="text-center">
                                        <p><a asp-page="./ForgotPassword">Forgot your password?</a></p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Email or password is incorrect.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage !== '') {
                $('#errorModal').modal('show');
            }
        });
    </script>
}
