@page
@model RegisterModel


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Register User</h1>
                    </div>
                    <form method="post" asp-area="Identity" asp-page="/Account/Register">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email Address" required>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First Name" required>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("Logout", "Home")" class="btn btn-primary">Logout</a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                User registered successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
